@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Silkscreen&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rebeccapurple;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5%;
}

#header img {
    width: 75px;
}

#navbar ul {
    display: flex;
    list-style-type: none;
}

#navbar li {
    height: fit-content;
    margin: 0rem 1rem;
    width: fit-content;
}

#navbar a {
    color: white;
    font-family: 'Libre Baskerville', serif;
    padding: 1rem 0.5rem;
    text-decoration: none;
    width: 100%;
}

#navbar a:hover {
    background-color: white;
    border-radius: 10px;
    color: rebeccapurple;
    transition: 0.35s;
}

#footer {
    background-color: black;
    color: white;
    padding: 3rem;
    text-align: center;
}