@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Silkscreen&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rebeccapurple;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 5%;
}

#header img {
    width: 75px;
}

#navbar ul {
    display: flex;
    list-style-type: none;
}

#navbar li {
    height: fit-content;
    margin: 0rem 1rem;
    width: fit-content;
}

#navbar a {
    border-radius: 10px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    padding: 1rem 0.5rem;
    text-decoration: none;
    width: 100%;
}

#navbar a:hover {
    background-color: white;
    color: rebeccapurple;
    transition: 0.35s;
}

#footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 15%;
}

#footerLeft {
    border-bottom: solid 1px white;
    padding: 1rem 0;
    width: 55%;
}

#footerRight {
    height: fit-content;
    width: fit-content;
}

#footerRight i {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}

#footerRight i:hover {
    color: rebeccapurple;
}