#mainContainer {
    align-items: center;
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    padding: 20px;
}

#searchBar {
    align-items: center;
    margin: 2rem auto 1rem;
    width: fit-content;
}

#searchBar .submitButton {
    background-color: rebeccapurple;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    padding: 1rem;
}

#bookQuery {
    background-color: black;
    border-radius: 2rem;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
    padding: 1rem 3rem;
}

#carousel {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.arrow {
    border: solid 1px white;
    border-radius: 0.1rem;
    margin: 0;
    width: 5%;
    max-width: 3rem;
    min-width: 2rem;
}

.arrow:hover {
    border: solid 1px rebeccapurple;
    border-radius: 0.1rem;
    cursor: pointer;
}

.arrow svg {
    fill: rebeccapurple;
    width: 100%;
}

#bookFrame {
    /*box model*/
    width: 85%;

    border: solid 1px rebeccapurple;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}

#bookSlider {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: fit-content;
}

.bookContainer {
    align-items: center;
    background-color: white;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2rem;
    padding: 3rem;
}

.bookContainer img {
    height: 300px;
}

.rightBookContainer {
    height: 100%;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    margin-right: 3rem;
    width: 300px;
}

.bookInfo h5 {
    background-color: rebeccapurple;
    border-radius: 5px;
    color: white;
    margin-bottom: 0.5rem;
    padding: 5px;
    width: fit-content;
}

.bookInfo p {
    margin-bottom: 2rem;
}

.selectBook {
    background-color: rebeccapurple;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #542881;
    color: white;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    height: fit-content;
    padding: 1rem;
    width: 300px;

    position: absolute;
    bottom: 3.5rem;
}

.selectBook:active {
    transform: translateY(2px);
}

#notificationContainer {
    align-items: center;
    background-color: rebeccapurple;
    border-radius: 10px;
    bottom: 0;
    color: white;
    display: none;
    padding: 2.5rem;
    position: fixed;
    right: 0;
}

#notificationContainer button {
    background-color: white;
    border: none;
    border-radius: 10px 0 0;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.2rem;
    position: absolute;
    left: 0px;
    top: 0px;
}

#notification {
    position: relative;
    width: 400px;
}