#mainContainer {
    background-color: white;
    align-items: center;
    padding: 20px;
}

#searchBar {
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

#searchBar .submitButton {
    background-color: rebeccapurple;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3arem;
    padding: 1rem;
}

#bookQuery {
    background-color: black;
    border-radius: 2rem;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    padding: 1rem 3rem;
}

#carouselFrame {
    width: 80%;
    margin: auto;
    overflow-x: scroll;
}

#bookSelector {
    display: flex;
    margin: 2rem 5rem;
    padding: 3rem;
}

.book {
    align-items: center;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.bookInfo {
    margin-right: 3rem;
}

.selectBook {
    background-color: rebeccapurple;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    padding: 0 0.7rem;
}

#notificationContainer {
    align-items: center;
    background-color: rebeccapurple;
    border-radius: 10px;
    bottom: 0;
    color: white;
    display: none;
    padding: 2.5rem;
    position: fixed;
    right: 0;
}

#notificationContainer button {
    background-color: white;
    border: none;
    border-radius: 10px 0 0;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.2rem;
    position: absolute;
    left: 0px;
    top: 0px;
}

#notification {
    position: relative;
    width: 400px;
}