#mainContainer {
    background-color: white;
    align-items: center;
    padding: 20px;
}

#searchBar {
    align-items: center;
    margin: 2rem auto 1rem;
    width: fit-content;
}

#searchBar .submitButton {
    background-color: rebeccapurple;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    padding: 1rem;
}

#bookQuery {
    background-color: black;
    border-radius: 2rem;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
    padding: 1rem 3rem;
}

#carousel {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.arrow {
    border: solid 1px white;
    border-radius: 0.1rem;
    margin: 0;
    width: 5%;
    max-width: 3rem;
    min-width: 2rem;
}

.arrow:hover {
    border: solid 1px rebeccapurple;
    border-radius: 0.1rem;
    cursor: pointer;
}

.arrow svg {
    fill: rebeccapurple;
    width: 100%;
}

#bookFrame {
    /*box model*/
    width: 85%;

    border: solid 1px rebeccapurple;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}

#bookSlider {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: fit-content;
}

.bookContainer {
    align-items: center;
    background-color: white;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    padding: 3rem;
    width: 300px;
}

.bookContainer img {
    height: 250px;
}

.upperBookContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    gap: 1rem;
    margin-right: 3rem;
    width: 100%;
}

.bookInfo h3 {
    background-color: rebeccapurple;
    color: white;
    padding: 5px;
    width: fit-content;
}

.selectBook {
    background-color: rebeccapurple;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    height: fit-content;
    padding: 0 0.7rem;
}

#notificationContainer {
    align-items: center;
    background-color: rebeccapurple;
    border-radius: 10px;
    bottom: 0;
    color: white;
    display: none;
    padding: 2.5rem;
    position: fixed;
    right: 0;
}

#notificationContainer button {
    background-color: white;
    border: none;
    border-radius: 10px 0 0;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.2rem;
    position: absolute;
    left: 0px;
    top: 0px;
}

#notification {
    position: relative;
    width: 400px;
}